{% extends 'base.html' %}
{% load static %}


{% block content %}

{% for info in info %}
<section id="about-section" class="section-about padding-150">
    <div class="section-about-inner ">
        <div class="left about_animation invisible">
            <img src="{% static 'data/img/about-img.png' %}" alt="about-us">
        </div>
        <div class="right">
            <h1 class="section-title about_animation invisible">Biz haqimizda</h1>
            <h1 class="about_animation invisible section-big-text">{{ info.title }}</h1>
            <p class="about_animation invisible">
               {{ info.body}}
            </p>
            <a href="" class="button-style mt-50 about_animation invisible contact-btn">Biz bilan bog'lanish</a>
        </div>
    </div>
</section>
{% endfor %}

{% for list in services %}
<section id="services-section" class="services padding-150">
    <div class="services-inner">
        <h1 class="section-big-text about_animation invisible">{{ list.title }}</h1>

        <div class="services-items about_animation invisible">
            <div class="left">
                <div class="left-big">
                    <a href="javascript:void(0)" class="contact-btn">
                        <img src="{{ list.image1URL }}" alt="">
                        <span>{{ list.title_1 }}</span>
                    </a>
                </div>
                <div class="left-row">
                    <a href="javascript:void(0)" class="contact-btn">
                        <img src="{{ list.image2URL }}" alt="">
                        <span>{{ list.title_2 }}</span>
                    </a>
                    <a href="javascript:void(0)" class="contact-btn">
                        <img src="{{ list.image3URL }}" alt="">
                        <span>{{ list.title_3 }} </span>
                    </a>
                </div>
            </div>
            <div class="right">
                <div class="left-row">
                    <a href="javascript:void(0)" class="contact-btn">
                        <img src="{{ list.image4URL }}" alt="">
                        <span>{{ list.title_4 }} </span>
                    </a>
                    <a href="javascript:void(0)" class="contact-btn">
                        <img src="{{ list.image5URL }}" alt="">
                        <span>{{ list.title_5 }}  </span>
                    </a>
                </div>
                <div class="left-big">
                    <a href="javascript:void(0)" class="contact-btn">
                        <img src="{{ list.image6URL }}" alt="">
                        <span>{{ list.title_6 }}  </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endfor %}


{% for work in portfolios  %}
<section class="portfolio padding-150">
    <div class="portfolio-inner">
        <h1 class="section-big-text about_animation invisible">{{ work.title }}</h1>
        <div class="portfolio-title">
            <p class="section-text about_animation invisible">{{ work.commit }}
            </p>
            <a href="portfolio.html" class="about_animation invisible button-style">Barchasini ko'rish</a>
        </div>
        <div class="portfolio-grid">
            <div class="grid-items about_animation invisible">
                <div class="left">
                    <div class="left-big">
                        <a href="">
                            <img src="{{ work.imageURL }}" alt="">
                            <span>{{ work.body}}</span>
                        </a>
                    </div>
                    <div class="left-row">
                        <a href="">
                            <img src="{{ work.image1URL }}" alt="">
                            <span>{{ work.body_1}}</span>
                        </a>
                        <a href="">
                            <img src="{{ work.image2URL}}" alt="">
                            <span>{{ work.body_2 }}</span>
                        </a>
                    </div>
                </div>
                <div class="right">
                    <div class="left-row">
                        <a href="">
                            <img src="{{ work.image3URL }}" alt="">
                            <span>{{ work.body_3 }}</span>
                        </a>
                        <a href="">
                            <img src="{{ work.image4URL }}" alt="">
                            <span>{{ work.body_4 }}</span>
                        </a>
                    </div>
                    <div class="left-big">
                        <a href="">
                            <img src="{{ work.image5URL  }}" alt="">
                            <span>{{ work.body_5 }}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endfor %}


{% for block in stats %}
<section class="numbers padding-150">
    <div class="numbers-inner">
        <h1 class="section-big-text about_animation invisible mb-50">Kompaniya raqamlarda</h1>
        <div class="counter-elements invisible mb-50">
            <div>
                <h1><span class="count">{{ block.numbers }}</span>+</h1>
                <p>{{ block.title }}</p>
            </div>
            <div>
                <h1><span class="count">{{ block.numbers_1 }}</span>+</h1>
                <p>{{ block.title_1 }}</p>
            </div>
            <div>
                <h1><span class="count">{{ block.numbers_2 }}</span>+</h1>
                <p>{{ block.title_2 }}</p>
            </div>
        </div>
    </div>
</section>

{% endfor %}




<section class="partners padding-150" id="partners">
    <div class="partners-inner">
        <h1 class="section-big-text about_animation invisible mb-50">Bizning mijozlarimiz</h1>
        <div id="tabs">
            <ul>
                <li><a href="#tabs-1">Moliyaviy sektor</a></li>
                <li><a href="#tabs-2">Do'konlar</a></li>
                <li><a href="#tabs-3">Sug'urta kompaniyalari</a></li>
                <li><a href="#tabs-4">Davlat tashkilotlari</a></li>
                <li><a href="#tabs-5">Ta'lim muassasalari</a></li>
            </ul>
            <div id="tabs-1" class="partners-grid">
                <img src="{% static 'data/img/partners/partners (1).png' %}" alt="">
                <img src="{% static 'data/img/partners/partners (2).png' %}" alt="">
                <img src="{% static 'data/img/partners/partners (3).png' %}" alt="">
                <img src="{% static 'data/img/partners/partners (4).png' %}" alt="">
                <img src="{% static 'data/img/partners/partners (5).png' %}" alt="">
                <img src="{% static 'data/img/partners/partners (6).png' %}" alt="">
                <img src="{% static 'data/img/partners/partners (7).png' %}" alt="">
                <img src="{% static 'data/img/partners/3231401.jpeg' %}" alt="">
            </div>
            <div id="tabs-2" class="partners-grid">
                <img src="{% static 'data/img/partners/dokon (1).png' %}" alt="">
                <img src="{% static 'data/img/partners/dokon (2).png' %}" alt="">
                <img src="{% static 'data/img/partners/dokon (3).png' %}" alt="">
                <img src="{% static 'data/img/partners/dokon (4).png' %}" alt="">
            </div>
            <div id="tabs-3" class="partners-grid">
                <img src="{% static 'data/img/partners/sugurta (1).png' %}" alt="">
                <img src="{% static 'data/img/partners/sugurta (2).png' %}" alt="">
            </div>
            <div id="tabs-4" class="partners-grid">
                <img src="{% static 'data/img/partners/gos (1).png' %}" alt="">
                <img src="{% static 'data/img/partners/gos (2).png' %}" alt="">
                <img src="{% static 'data/img/partners/gos (3).png' %}" alt="">
                <img src="{% static 'data/img/partners/gos (4).png' %}" alt="">
            </div>
            <div id="tabs-5" class="partners-grid">
                <img src="{% static 'data/img/partners/fintech.png' %}" alt="">
            </div>
        </div>
    </div>
</section>



{% endblock %}